/* 
    ============== CSS 기본 선택자 =======================
    1) 전체 선택자 : *
    2) 태그 선택자 : 태그명 ex> p
    3) 클래스 선택자 : .클래스명   ex>   .my-app
    4) 아이디 선택자 : #아이디명   ex>   #title
    5) 그룹 선택자 : p, .my-app, #title
    =====================================================
*/

* {
  margin: 0; /* (안)여백 : 없음 */
  padding: 0; /* (바깥)여백 : 없음 */
}
a {
  color: red;
  text-decoration: none;
}
/*
선택자 {
    속성1: 속성값1;
    속성2: 속성값2;
    ...계속..
}
*/
.logo {
  width: 100px;
  margin: 0 auto; /* 수평-중앙 배치 */
  padding: 50px 0; /* 상,하 50픽셀 */
}
.menu {
  padding: 20px 0; /* 상,하 50픽셀 */
  text-align: center;
  background-color: #005891; /* 배경 색상 */
}
a {
  color: white;
  margin: 10px;
}
.hero {
  width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}
.hide {
  display: none; /* 화면 표시: 안함 */
}
.movie {
  /* 클래스 movie의 스타일을 결정한다 */
  width: 600px;
  margin: 0 auto;
  font-size: 0;
}
.movie-title {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase; /* 대문자 */
  margin: 2rem 0 1rem 0; /*  상->우->하->왼 순서 */
}
.movie-desc {
  text-align: center;
  font-size: 16px;
  color: #555555; /* HEX 색상 표기법 */
}
.social {
  text-align: center; /* 그림<--텍스트10.. */
  margin: 2rem 1rem; /* (밖)여백 : 상하 2배, 좌우 기본값 */
}
